html,
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main:first-child {
    margin-left: -104px;
}

.head-box {
    background-color: #234292;
    width: 100%;
    height: 30px;
}

.page-heading {
    padding: 6px 15px;
    color: white;
    float: left;
    display: block;
}

.filter img,
.settings img,
.help img,
.filter-cross img {
    padding: 5px 10px;
    height: 22px;
    display: block;
    float: right;
    transition: transform 0.1s;
    -webkit-transition: transform 0.1s;
    -moz-transition: transform 0.1s;
    -ms-transition: transform 0.1s;
    -o-transition: transform 0.1s;
}

.filter img:hover,
.settings img:hover,
.help img:hover,
.filter-cross img:hover {
    cursor: pointer;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

main {
    height: 100%;
    width: 100%;
}

.modal,
.settings-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal {
    display: block;
}

.settings-modal-content {
    overflow-y: auto;
    width: 600px;
    margin: 100px auto;
    height: 400px;
    background-color: #fefefe;
}

.settings-table {
    width: 99%;
    height: 320px;
}

.settings-modal-content table {
    border: 1px solid darkgray;
    width: 99%;
    margin: 5px;
    border-collapse: collapse;
    font-size: 13px;
    overflow: scroll;
}

input {
    width: 50px;
    height: 10px;
}

.settings-modal-content table th {
    border: 1px solid #e0e0e0;
    background-color: #e0e0e3;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.settings-modal-content table td {
    padding: 5px;
    border-bottom: 1px solid darkgray;
    text-align: center;
}

.foot {
    background-color: #e0e0e0;
}

.foot img {
    margin: 5px 8px;
    height: 30px;
}

.foot img:hover {
    cursor: pointer;
}

.modal-content {
    background-color: #fefefe;
    border: 0.5px solid #fff;
    width: 240px;
    height: 100%;
    float: right;
}

.container {
    width: 90%;
    margin: 20px auto;
}

#day {
    width: 100%;
    height: 25px;
    display: block;
    margin: 5px 0;
    border: 1px solid #797979;
}

label {
    font-size: 14px;
}

#search {
    margin-top: 5px;
    width: 80%;
    height: 22px;
    border: 1px solid #797979;
}

.search-btn {
    height: 22px;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    width: 16%;
}

.search-btn img:hover {
    cursor: pointer;
}

ul li {
    list-style: none;
    margin-left: -25px;
    padding: 2px 3px;
}

.check {
    background: rgb(247, 245, 245);
    overflow-y: auto;
    width: 100%;
    height: 65vh;
    margin-top: 8px;
}

.main-check {
    width: 105%;
    padding: 0 5px 5px 5px;
    margin-left: -18px;
    background-color: rgb(192, 192, 192);
}

.close {
    width: 100%;
    display: block;
    margin: 10px auto;
    color: white;
    background-color: rgb(20, 23, 172);
    border: none;
    letter-spacing: 1px;
    height: 28px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.close:hover {
    cursor: pointer;
}

.help {
    position: relative;
}

.dropdown {
    position: absolute;
    display: none;
    top: 16px;
    right: 200px;
}

.dropdown-content {
    float: right;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content li {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
    list-style-type: none;
}

.dropdown-content li:hover {
    cursor: pointer;
    background-color: #ddd;
}


/* help */

.help-description-modal,
.help-manual-modal,
.help-how-to-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.help-description-modal-content,
.help-manual-modal-content,
.help-how-to-modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 92%;
    height: 500px;
    position: relative;
}

.help-description-heading-box ul li,
.help-manual-heading-box ul li,
.help-how-to-heading-box ul li {
    display: inline-block;
    list-style-type: none;
    font-size: 14px;
    color: #ffffff;
    padding-top: 5px;
}

.help-description-heading-box,
.help-manual-heading-box,
.help-how-to-heading-box {
    width: 100%;
    height: 8%;
    background-color: #234292;
}

.help-description-heading,
.help-manual-heading,
.help-how-to-heading {
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

.help-description-modal-cross,
.help-manual-modal-cross,
.help-how-to-modal-cross {
    float: right;
    cursor: pointer;
}

.description-modal-heading {
    border-bottom: 1px solid rgb(235, 235, 235);
    padding: 5px 50%;
    font-weight: 600;
}

.help-description-table {
    display: block;
    position: absolute;
    margin: 10px 10%;
    font-size: 14px;
    border: 1px solid #c9c9c9;
    -webkit-box-shadow: 0 2px 2px #848484;
    box-shadow: 0 2px 2px #848484;
}

.help-description-table tr td {
    width: 30%;
    margin: 3px;
    border: 1px solid beige;
    padding: 5px;
}

.help-description-table tr td:nth-child(odd) {
    font-weight: 600;
}

.help-manual-iframe {
    height: 95%;
    width: 100%;
}

.help-description-heading-box,
.help-manual-heading-box,
.help-how-to-heading-box {
    margin-top: -16px;
}

.scrolable-content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 90%;
    width: 100%;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
    overflow-y: auto;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
}
#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;      
  padding-bottom: 16px;
      /* Footer height */
}
.previous {
  background-color: #234292;
  color: white;
display: inline-block;
  padding: 10px 16px;
  text-decoration: none;
}
.down{
  background-color: white;
  color: #234292;;
  font-size:12px;
  display: inline-block;
  text-decoration: none;
   padding: 4px 16px;
}
.refresh {
  background-color: white;
  color: #234292;
  display: inline-block;
  text-decoration: none;
   padding: 10px 16px ;
  
}
