@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #2e4ead;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #2e4ead;
}

.wrapper .top_navbar {
    width: 100%;
    height: 60px;
    display: flex;
    position: fixed;
}

.wrapper .top_navbar .hamburger {
    width: 71px;
    height: 100%;
    background: #2e4ead;
    padding: 15px 17px;
    cursor: pointer;
}

.wrapper .top_navbar .hamburger div {
    width: 35px;
    height: 4px;
    background: #92a6e2;
    margin: 5px 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.wrapper .top_navbar .top_menu {
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .top_navbar .top_menu .logo {
    color: #2e4ead;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
}

.wrapper .top_navbar .top_menu ul {
    display: flex;
}

.wrapper .top_navbar .top_menu ul li a {
    display: block;
    margin: 0 10px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #2e4ead;
    border-radius: 50%;
    color: #2e4ead;
}

.wrapper .top_navbar .top_menu ul li a:hover {
    background: #4360b5;
    color: #fff;
}

.wrapper .top_navbar .top_menu ul li a:hover i {
    color: #fff;
}

.wrapper .sidebar {
    z-index: 999;
    position: fixed;
    top: 60px;
    background: #2e4ead;
    width: 200px;
    height: 100%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.wrapper .sidebar ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    position: relative;
    margin-bottom: 1px;
    color: #92a6e2;
    white-space: nowrap;
}

.wrapper .sidebar ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: #92a6e2;
    display: none;
}

.wrapper .sidebar ul li a span.icon {
    margin-right: 10px;
    display: inline-block;
}

.wrapper .sidebar ul li a span.title {
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
    background: #4360b5;
    color: #fff;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
    display: block;
}

.wrapper .main_container {
    width: (100% - 200px);
    margin-top: 70px;
    margin-left: 200px;
    padding: 15px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.wrapper .main_container .item {
    background: #fff;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 14px;
    line-height: 22px;
}

.wrapper.collapse .sidebar {
    width: 70px;
}

.wrapper.collapse .sidebar ul li a {
    text-align: center;
}

.wrapper.collapse .sidebar ul li a span.icon {
    margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title {
    display: none;
}

.wrapper.collapse .main_container {
    width: (100% - 70px);
    margin-left: 70px;
}

input[type=search] {
    width: 50%;
    background: none;
    border: none;
    border-block-end: 1px solid #eee;
    float: right;
}

*:focus {
    outline: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2e4ead;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #2e4ead;
}

.logo img {
    height: 30px;
}

.dropbtn .icon i {
    margin-left: 6px;
}

main {
    position: absolute;
    top: 60px;
    left: 70px;
    height: calc(100vh - 60px);
    width: calc(100vw - 72px);
}

.container-2 {
    background: #e1ecf2;
    float: left;
    width: calc(100vw - 72px - 30vw);
    height: 100%;
    overflow: auto;
}

.container-3 {
    background: #deeff8;
    float: left;
    width: calc(100vw - 70vw);
    height: 100%;
    overflow: auto;
}

@media only screen and (max-width: 600px) {
    .container-2 {
        width: calc(100vw - 72px);
    }
    .container-3 {
        width: 0;
        display: none;
    }
}



/*
.upload-content {
    width: 80%;
    margin: auto;
}

.share-update-box,
.upload-box {
    font-size: 90%;
    color: #777777;
    width: 50%;
    font-weight: 700;
    float: left;
    margin-bottom: 10px;
}

.share-update-box:hover {
    cursor: pointer;
    background-color: #a1b9ff;
    border-radius: 5px;
}

.upload-box:hover {
    cursor: pointer;
    background-color: #ffd0b5;
    border-radius: 5px;
}

.share-icon-box,
.upload-icon-box {
    margin-top: 10px;
    display: inline-block;
    background-color: #fc701f;
    height: 30px;
    width: 30px;
    position: relative;
    border-radius: 50%;
}

.share-icon-box i,
.upload-icon-box i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e1ecf2;
}

.share-icon-box {
    background-color: #2e4ead;
}

.share-update {
    display: inline-block;
    height: 30px;
    margin-left: 2px;
    vertical-align: middle;
    margin-top: -8px;
}

.update-box textarea {
    display: block;
    width: 100%;
    resize: none;
    background: none;
    border: none;
    background-color: #d6def7;
    margin: auto;
    padding: 5px;
    height: 80px;
}

.active:after {
    content: "";
    display: block;
    border-bottom: 2px solid #2e4ead;
    width: 80%;
    margin: 5px auto;
    border-radius: 50%;
}

.upload-box .active:after {
    border-bottom: 2px solid #fc701f;
}

.secondary-input {
    background-color: #cddaff;
}

.upload-btn-wrapper {
    position: relative;
    width: 50%;
    float: left;
}

.upload-btn-wrapper input[type=file] {
    font-size: 1px;
    position: absolute;
    font-size: 180px;
    top: 13px;
    left: 0;
    font-size: 5px;
    opacity: 0;
}

.btn {
    display: inline-block;
    background: none;
    border: none;
    height: 35px;
    width: 35px;
    font-size: 120%;
    border-radius: 50%;
    color: #4360b5;
}

.btn i {
    color: #4360b5;
    font-size: 120%;
    padding-left: 5px;
    vertical-align: middle;
    padding-top: 5px;
}

.btn i:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.submit-btn {
    background: none;
    float: left;
    width: 50%;
    border: none;
}

.submit-btn i {
    float: right;
    color: #4360b5;
    font-size: 180%;
    padding-right: 5px;
    vertical-align: middle;
    padding-top: 5px;
}

.submit-btn i:hover {
    cursor: pointer;
    transform: scale(1.2);
}
*/